body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    /* temp background pattern? */
    background-color: #2f2f2f;
    background-image: linear-gradient(30deg, #404040 12%, transparent 12.5%, transparent 87%, #404040 87.5%, #404040),
    linear-gradient(150deg, #404040 12%, transparent 12.5%, transparent 87%, #404040 87.5%, #404040),
    linear-gradient(30deg, #3d3d3d 12%, transparent 12.5%, transparent 87%, #3d3d3d 87.5%, #3d3d3d),
    linear-gradient(150deg, #3d3d3d 12%, transparent 12.5%, transparent 87%, #3d3d3d 87.5%, #3d3d3d),
    linear-gradient(60deg, #484848 25%, transparent 25.5%, transparent 75%,  #484848 75%,  #484848),
    linear-gradient(60deg,  #484848 25%, transparent 25.5%, transparent 75%,  #484848 75%,  #484848);
    background-size:40px 70px;
    background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px;
    /**/
    font-family: "Josefin Sans", serif;
}

/*Property Cards */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-content {
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 570px;
    cursor: default;
}

.modal-contain {
    position: relative;
    align-items: flex-end;
    cursor: unset;
    z-index: 2;
}

.close {
    background: url("../assets/Iconpack/close-white.png") no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}

#prop-modal-content {
    margin-right: 40px;
}

/*Start Global Classes*/
.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
/*End Global Classes*/

/*wrap board and center*/

    #body-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 1600px;
        height: 800px;
    }

    #board-wrap {
        height: 800px;
        width: 830px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



    #board {
        width: 100%;
        height: 100%;
        background: url('../assets/WEBopoly.jpg') no-repeat center;
        background-size: contain;
        border-radius: 30px;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: row;
    }
/**/

/*Start Board Grid*/
    #board-grid {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #grid-left, #grid-right {
        width: 110px;
    }

    #grid-block {
        width: 580px;
    }

    .grid:hover {
        box-shadow: inset 0px 0px 20px 9px rgba(0,0,0,0.40),
                    0px 0px 5px 2px rgba(0,0,0,0.5);
        cursor: pointer;
    }

    .grid-mid {
        height: 580px;
    }

    .grid-h {
        height: 110px;
    }

    .grid-corner-h {
        height: 100%;
        width: 110px;
    }

    .grid-middle-h {
        width: 65px;
        margin-left: 1px;
    }

    .grid-middle-v {
        height: 65px;
        margin-top: 1px;
    }
/*End Board Grid*/

/*Start Player Boxes*/
    #p1-box, #p3-box {margin-top: 0;}
    #p2-box, #p4-box {margin-bottom: 0;}

    .players {
        height: 100%;
    }

    .player-box {
        width: 200px;
        flex-grow: 1;
        padding: 15px;
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        margin: 15px;
    }

    /* player box  */
    .p1{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    .p2{
        display: flex;
        justify-content:space-between;
        align-items: center;  
    }

    .p3{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    .p4{
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    /* player box  End*/
    

    /* player content */

    .player-name {
        font-family: "Josefin Sans", serif;
        font-size: 1.75rem;
        height: 40px;
        width: 100%;
        border: 2px black solid;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .player-coin {
        font-family: "Josefin Sans", serif;
        font-size: 1.5rem;
        height: 40px;
        width: 100%;
        border: 2px black solid;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .player-property{
        text-align: center;
        font-family: "Josefin Sans", serif;
        font-size: 1.50rem;
        height: 40px;
        width: 100%;
        border: 2px black solid;
        border-radius: 25px;
    }

    .player-tokens{
        height: 80px;
        width: 80px;
        border: 2px black solid;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .player-tokens div {
        height: 56px;
        width: 56px;
    }


/* player content END*/


/*End Player Boxes*/

/*Outside Tabs that will show who owns what property*/
    .tab-corner-h {
        height: 15px;
        width: 128px;
    }

    .tab-corner-v {
        height: 128px;
        width: 15px;
    }

    .tab-middle-h {
        width: 56px;
        border-radius: 4px;
        margin: 1px 5px;
    }

    .tab-middle-h:hover, .tab-middle-v:hover {
        background: linear-gradient(45deg, #437daf, #59b7fbf2);
    }

    .tab-middle-v {
        height: 59px;
        border-radius: 4px;
        margin: 8px 1px;
    }

    #tab-top, #tab-bottom {
        height: 15px;
        justify-content: center;
    }

    #tab-middle {
        height: 100%;
        align-items: center;
    }

    #tabs-left, #tabs-right {
        height: 100%;
    }

/*player token circles*/
    #remove-in-production {
        display: flex;
        flex-direction: column;
    }

    .tokenBackground{
        height: 25px;
        width: 25px;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p1 {background-color: #ffd3d5;}
    .p2 {background-color: #9dcfff;}
    .p3 {background-color: #bbffbb;}
    .p4 {background-color: #ffecbc;}

    .speaker{
        background-image: url("../assets/Iconpack/speaker.png");
        background-size: 100%;
        height: 19px;
        width: 19px;
    }

    .mouse {
        background-image: url("../assets/Iconpack/mouse.png");
        background-size: 100%;
        height: 19px;
        width: 19px;
    }

    .keyboard {
        background-image: url("../assets/Iconpack/keyboard.png");
        background-size: 100%;
        height: 19px;
        width: 19px;
    }

    .monitor {
        background-image: url("../assets/Iconpack/monitor.png");
        background-size: 100%;
        height: 19px;
        width: 19px;
    }
    /* test */

    

/*end tokens*/
